body{
    font-family: Arial;
    margin:0;
    text-align:center;
    background:linear-gradient(45deg, red, blue, purple, yellow);
    color:white;
}

.logo3d{
    font-size:40px;
    text-shadow:
    2px 2px 0 black,
    4px 4px 0 blue,
    6px 6px 0 purple;
}

button{
    padding:10px;
    margin:5px;
    border-radius:12px;
    border:none;
    font-weight:bold;
}

.uploadBox{
    padding:20px;
}

#contentGrid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:15px;
    padding:20px;
}

.card{
    background:white;
    color:black;
    padding:10px;
    border-radius:10px;
}
